body {
    margin: 0;
}
.header {
    background-color: rgb(242,242,242);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
}
.header .a1 {
    /* float: left; */
    margin: 15px;
}
.header .type img {
    margin: 20px 5px;
}
.header .close {
    /* float: right; */
    margin: 25px 5px;
}
.page1 {
    box-sizing: border-box;
    background-image: url(//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/9b22e6f1444b5ae785f3a267/pexelsphoto3326103.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
}
.search {
    border: 1px solid rgb(242,242,242);
    height: 80px;
}
.h1 {
    position: relative;
    top: 350px;
    line-height: 60px;
    font-size: 36px;
    font-weight: 600;
}
.food {
    width: 400px;
    background-color: white;
}
.good {
    position: relative;
    top: -10px;
    width: 300px;
    background-color: rgb(255, 208, 0);
}
.page2 {
    text-align: center;
    position: relative;
}
.p2_back {
    background-color: rgb(255, 208, 0);
    /* width: 550px; */
    height: 650px;
    margin: 60px 350px;
    position: relative;
    
}
.p2_content {
    background-color: white;
    border: 5px solid black;

    width: 350px;
    height: 230px;

    text-align: left;
    
    padding: 30px;

    position: relative;
    top: 200px;
    left: -250px;
}
.p2_content {
    font-size: 36px;
}
.p2_content p{
    font-size: 16px;
    font-weight: 350;
    line-height: 30px;
}
.p2_back img {
    width: 400px;
    height: 550px;
    position: relative;
    top: -250px;
    left: 220px;
}
.page3 {
    text-align: center;
    margin: 40px 0;
}
.p3 {
    box-sizing: border-box;
    border: 5px solid black;
    width: 290px;
    height: 300px;

    /* margin: 20px 0 20px 20px;

    vertical-align: top;
    display: inline-block; */
}
.page3 img {
    border: none;
    width: 290px;
    height: 300px;
    /* margin: 20px 20px 20px 0; */
}
.p3.content {
    font-size: 24px;
    text-align: left;
    padding: 50px 30px;
}
.content p {
    font-size: 16px;
    font-weight: 350;
    line-height: 25px;
}
.left {
    float: left;
    margin: 0 34px 0 0;
}
.right{
    float: right;
    margin: 0;
}
.content.right{
    float: right;
    margin: 0 0 0 34px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.page4 {
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/992eb4a786e9521ea39ea995/pexelsphoto940302.jpeg);
    background-size: cover;
    background-position: center;
    height: 750px;
}
.p4_h2 {
    font-size: 32px;
    text-align: left;
    line-height: 30px;
    width: 750px;
    position: relative;
    top: 220px;
}
.p4_h2 p {
    font-size: 16px;
    margin: 20px 0;
}
.page5 {
    background-color: rgb(255, 208, 0);
    height: 250px;
    margin: 150px 0;
}
.page5 img {
    width: 480px;
    height: 450px;
    position: relative;
    top: -100px;
    left: 50px;
    margin: 0 10px;
}
.page6 {
    text-align: center;
    margin-bottom: 100px;
}
.p6_h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}
.page6 p {
    font-size: 16px;
    font-weight: 350;
    width: 730px;
    margin: auto;
    line-height: 25px;
}
.read {
    background-color: black;
    text-align: center;
    color: white;
    line-height: 40px;
    width: 150px;
    margin: 30px auto;
}
.page7 {
    text-align: center;
    margin: 30px 0;
}
.page7 img {
    width: 400px;
    height: 500px;
}
.p7 {
    box-sizing: border-box;
    border: 5px solid black;
    width: 400px;
    height: 500px;
    
    margin: 0 28px;
    padding: 40px 30px;
    
    vertical-align: top;
    display: inline-block;
}
.h2_1 {
    font-size: 30px;
    line-height: 25px;
    margin: 60px 0;
}
.h2_1 span{
    font-size: 18px;
    font-weight: 300;
}
.p7_content {
    font-weight: 350;
    line-height: 25px;
}
.p7_content p {
    font-size: 20px;
    font-weight: 300;
}
.page8 {
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/3cb19967a4645debbcf2c90a/pexelsphoto3831823.jpeg);
    background-size: cover;
    height: 750px;
}
.p8_content {
    text-align: center;
    font-size: 34px;
    position: relative;
    top: 650px;
}
.footer {
    background-color: rgb(51, 51, 51);
    height: 150px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    padding-top: 50px;
}
.footer .f1 {
    margin: 60px 0;
}
.f1 span {
    color: rgb(161, 210, 219);
    text-decoration: underline rgb(161, 210, 219);
}