<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>hello ejs</h1>
    <button type="button">ajax</button>

<script>
    const xhr = new XMLHttpRequest()
    xhr.open('post', '/ajax')
    xhr.setRequestHeader('Content-Type', 'application/json')
    const param = {
        name: '민수',
        addr: '천안'
    }
    xhr.send(JSON.stringify(param))
    xhr.onload = function(){
        console.log(xhr.responseText);
    }
</script>
</body>
</html>