body {
    height: 200vh;
}
div {
    border: 1px solid red;
}

.parent {
    width: 100px;
    background-color: green;
    color: white;
    margin: 20px;
}
.child {
    width: 90px;
    background-color: rgba(0,0,255,0.5);
}
.relative {
    /* 
        position : relative와 함께 써야한다.
        원래 위치를 기준으로 이동
        top : 위를 기준으로, bottom : 아래쪽 기준으로
        left : 왼쪽을 기준으로, right : 오른쪽을 기준으로
        원래 내가 가지고 있던 공간은 유지된다.

        margin과 차이점
        margin은 공간을 이동
        position은 공간은 두고 이동하여 겹칠 수 있다.
    */
    position: relative;
    /* 원래 위치
    top: 10px;
    left: 50%; */
    top: 10px;
    /* top: 50%; */
    /* left: -10px; */
    left: 50%;
}

.absolute {
    /* 
        부모중에 relative(없으면 body) 기준으로 이동
        원래 가지고 있던 공간은 없어진다.
        스크롤이 최상단일 때를 기준으로 좌표가 찍힌다.
    */
    position: absolute;
    top: 0;
    left: 0;
    /* left: -10000px; */
}
.absolute-bottom {
    /* 
        보무중에 relative(없으면 body) 기준으로 이동
        원래 가지고 있던 공간은 없어진다.
    */
    position: absolute;
    bottom: 10px;
    right: 10px;
}    
.fixed {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.sticky {
    /* 정해진 구간에 도달했을 시 고정 */
    position: sticky;
    top: 20px;
}
.rel {
    position: relative;
    
}
.rel:hover {
    z-index: 999;
}
.z1 {
    background-color: hotpink;

    top: 5px;
    left: 20px;

    z-index: 2;
}
.z2 {
    background-color: brown;

    top: -10px;
    left: -20px;
    /* 숫자가 높은 순으로 나온다. */
    z-index: 1;
}
.z3 {
    background-color: blue;

    top: -25px;
    left: 50px;
}
